server:
  port: 8761

spring:
  application:
    name: IMHERE-EUREKA

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
  server:
    eviction-interval-timer-in-ms: 5000 # ???? (?? : ms, ?? 30?)
    response-cache-update-interval-ms: 5000 # ?? ???? ??