server:
  port: 8888

spring:
  application:
    name: IMHERE-CONFIG
  profiles:
    include: git

management:
  endpoints:
    web:
      exposure:
        include:
          - refresh
          - health
          - beans
          - info
          - busrefresh