server:
  port: 8888

spring:
  application:
    name: IMHERE-CONFIG
  profiles:
    active: git
    include: private

management:
  endpoints:
    web:
      exposure:
        include:
          - refresh
          - health
          - beans
          - info
          - busrefresh